In [4]:
import lyricsgenius
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np
import requests
from urllib.request import urlopen
import bs4
from bs4 import BeautifulSoup
import re
#import lxml.html

genius = lyricsgenius.Genius("lSUVIEFu57a_JUG5gUTMqPRgOUIBqNJJtSWWqaG1LnBc2FMi8qveGlBapwaTCRJe")

In [ ]:


dom = lxml.html.fromstring(requests.get('https://genius.com/discussions/22873-Greatest-100-rappers').content)

artists = [x for x in dom.xpath('//li/text()')]

In [ ]:
artists = [i for i in artists if '\n' not in i]

artists = [art.replace('The Jungle Brothers', 'Jungle Brothers') for art in artists]
artists = [art.replace('The Funky Four+1', 'Funky Four Plus One') for art in artists]
artists = [art.replace('Kool Keith/Dr. Octagon', 'Kool Keith') for art in artists]

print(artists)
#print(len(artists))

# artists.append('Kool Keith')
#artists.index('Jungle Brothers')
#artists.index('Funky Four Plus One')
#artists.index('Kool Keith')

In [85]:
lyric_dict = {}
artist_dict = {}
artists = ['The Jungle Brothers']
for art in artists:
    artist = genius.search_artist(art, max_songs=2,sort='popularity')
    if artist is None:
        continue
    for song in artist.songs:
        #print(song.artist + ' ' + song.title)
        lyric_dict[song.artist + '_' + song.title] = song.lyrics
        artist_dict[song.artist + '_' + song.title] = song.artist

Searching for songs by The Jungle Brothers...

No results found for 'The Jungle Brothers'.

In [77]:
lyric_df = pd.DataFrame.from_dict(lyric_dict,orient='index').reset_index()
lyric_df.columns = ['song','lyrics']
cv = CountVectorizer()
df = cv.fit_transform(lyric_df['lyrics'])

count_vect_df = pd.DataFrame(df.todense(), columns=['vec_' + i for i in cv.get_feature_names()])
lyric_df = lyric_df.join(count_vect_df)

In [78]:
artist_df = pd.DataFrame.from_dict(artist_dict,orient='index').reset_index()
artist_df.columns = ['song','artist']
music_df = artist_df.merge(lyric_df,on='song')

In [80]:
averaged_df = music_df.drop(['song','lyrics'],axis=1).groupby('artist').mean().reset_index()

In [81]:
from sklearn.metrics.pairwise import cosine_similarity
query='Queen'
match = averaged_df[averaged_df['artist']==query]
rest_of_entries = averaged_df[averaged_df['artist']!=query].copy()

if match.empty:
    pass
    #Throw something here
    #return None
print(cosine_similarity(match.loc[:, match.columns != 'artist'],rest_of_entries.loc[:,rest_of_entries.columns!='artist']))
rest_of_entries['similarity'] = cosine_similarity(match.loc[:, match.columns != 'artist'],rest_of_entries.loc[:,rest_of_entries.columns!='artist'])[0]
rest_of_entries

[[0.43956277 0.27546428 0.33510058]]

,artist,vec_1989,vec_aaaaah,vec_about,vec_aching,vec_again,vec_against,vec_ah,vec_ahh,vec_ain,...,vec_world,vec_would,vec_written,vec_yeah,vec_year,vec_yes,vec_yesterday,vec_you,vec_your,similarity
0,Aerosmith,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.5,3.5,2.0,0.0,0.0,15.5,2.5,0.439563
1,Daft Punk,0.0,0.0,3.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.5,1.5,0.275464
2,Kid Rock,0.5,0.0,0.5,0.0,0.5,0.0,0.0,3.0,1.5,...,0.5,0.5,0.0,0.0,0.0,0.0,0.5,10.0,3.0,0.335101

In [72]:
cosine_similarity(averaged_df.drop('artist',axis=1),averaged_df.drop('artist',axis=1))

array([[1.        , 0.        , 0.36996867, 0.01517884],
       [0.        , 1.        , 0.        , 0.12379689],
       [0.36996867, 0.        , 1.        , 0.13959565],
       [0.01517884, 0.12379689, 0.13959565, 1.        ]])

In [70]:
averaged_df

,artist,vec_abdul,vec_able,vec_about,vec_activity,vec_again,vec_ahead,vec_ain,vec_air,vec_all,...,vec_world,vec_wrong,vec_ya,vec_yeah,vec_yelling,vec_yes,vec_yo,vec_you,vec_young,vec_your
0,Aerosmith,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,4.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Daft Punk,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kid Rock,1.5,0.0,0.5,0.5,0.5,0.5,0.5,0.5,3.5,...,1.5,0.0,0.5,3.5,1.5,0.5,1.0,8.0,0.5,1.5
3,Queen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0